################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab01/v15/Server/sqlite3
/.vs/Lab01/v15
/HelloConsoleApp/bin/Debug
/HelloConsoleApp/obj/Debug
/HelloConsoleVBDialog/obj/Debug
/HelloWinformsApp/obj/Debug
